<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
  	<!-- 여기에 로거 추가 -->

    <Logger name = "log4jexam.sql.Query" level="debug" additivity ="false">
         <AppenderRef ref="Console"/>
         <AppenderRef ref="MyFile" />
    </Logger>
    <Logger name = "log4jexam.sql.Parameter" level="info" additivity ="false">
         <AppenderRef ref="Console"/>
    </Logger>
    
  

  	<!-- 개별적으로 설정할 때 -->
	<Logger name="log4jexam.sql.Query" level="debug" additivity="false">
	  <AppenderRef ref="Console"/>
	</Logger>
	<Logger name="log4jexam.sql.Parameter" level="info" additivity="false">
	  <AppenderRef ref="Console"/>
	</Logger>

	<!-- 전체 설정 -->

    <Root level="trace">
      <AppenderRef ref="Console"/>
    </Root>
    <!-- logging 프로그램을 사용하면 프레임워크를 사용할 때 개발자들이 남긴 로그도 확인할 수 있다는 장점이 있다. -->
  </Loggers>

</Configuration>





